.loginFormButton {
  background-color: rgba(141, 211, 187, 1);
  color: rgba(255, 255, 255, 1);
}

.loginFormButton:hover {
  background-color: rgb(185, 152, 44);
}

.container {
  width: 1262px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
