.registrationFormButton {
  background-color: rgba(141, 211, 187, 1);
  color: rgba(255, 255, 255, 1);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.formContainer {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 650px;
}

@media (max-width: 426px) {
  .formContainer {
    min-width: 300px;
  }
}

.form {
  width: 100%;
}

.registrationFormButton {
  width: 100%;
}

.link {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.link a {
  text-decoration: underline;
}

/* @media (max-width: 425px) {
  .container {
    padding: 0.5rem;
  }

  .formContainer {
    padding: 0.5rem;
  }

  .title {
    font-size: 1rem;
  }
} */
